:host {
  width: 400px;
}

:host notification-panel-item::part(variant) {
  margin: 10px 0;
}

:host notification-panel-item:first-child::part(variant),
:host notification-panel-item:last-child::part(variant) {
  margin: 0;
}

:host::part(list) {
  margin: 0;
  padding: 0;
  min-width: 400px;
  min-height: calc(100vh - 100px);
}

:host nav {
  display: block;
  margin: 0;
  position: fixed;
  transition: all 0.5s;
  transform: translate3d(0, 0, 0);
  padding: 5px 25px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  border-radius: 5px;
  overflow-x: hidden;
}

:host nav.expanded {
  transform: translate3d(-100%, 0, 0);
}

:host nav .handler {
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(0% + 40px);
  left: calc(100% - 20px);
  border: 1px solid gray;
  border-top-style: none;
  border-left-style: none;
  transform: rotate(-225deg);
  transform-origin: top right;
  cursor: pointer;
}

:host nav .handler:hover {
  border-color: black;
  border-width: 1.5px;
}

:host nav.expanded .handler {
  top: calc(0% + 20px);
  left: calc(100% - 25px);
  transform: rotate(-45deg);
}
