:host {
  list-style: none;
  margin: 0;
  width: 100%;
}

:host::part(variant) {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

:host::part(read) {
  padding: 20px;
  border-radius: 5px;
  box-shadow: none;
}

:host::part(heading) {
  text-transform: uppercase;
}

:host::part(footer) {
  color: gray;
  font-style: italic;
  text-align: right;
}
